:root {
  --colorPrincipal: #f16642;
  --colorSecundario: #f18b42;
  --colorTerciario: #f19842;
  --colorFondo: #2c3e50;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #B6B8B9;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h5 {
  font-family: 'Kalam', cursive;
  color: var(--colorSecundario);
}

nav {
  border-bottom: 2px solid var(--colorPrincipal);
}

.hoverLinks:hover {
  color: var(--colorPrincipal);
  border-bottom: var(--colorSecundario);
}

.lineaHover {
  position: relative;
}

.lineaHover::before,
.lineaHover::after {
  content: "";
  border-bottom: 2px solid var(--colorPrincipal);
  position: absolute;
  opacity: 0;
  transition: 0.2s;
}

.lineaHover::before {
  bottom: 5px;
  width: 90%;
  right: 0;
}

.lineaHover::after {
  bottom: -1px;
  width: 60%;
  left: 0;
}

.lineaHover:hover::before {
  width: 70%;
  opacity: 1;
}

.lineaHover:hover::after {
  width: 40%;
  opacity: 1;
}

.logoWidth {
  width: 150px;
}

.colorPrincipal {
  color: var(--colorPrincipal);
}

.botonBusqueda:hover {
  color: white;
  border: var(--colorPrincipal) solid 1px;
  background-color: var(--colorSecundario);
}

.focusNaranja:checked {
  color: var(--colorPrincipal);
}

.footerBorder {
  border-top: 2px solid var(--colorPrincipal);
}

#acercaNosotrosTitulo{
  font-family: 'Kalam', cursive;
  color: var(--colorPrincipal);
}

#acercaNosotrosInfo{
  font-family: "Karla", sans-serif;
  text-align: center;
  color: black;
  margin: 3px 0px 3px 0px;
  font-size: 20px;
}

.rotate-center:hover {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}

.cardNosotros{
  font-family: "Karla", sans-serif;
  color: white;
  font-size: 15px;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.div-nosotros{
  width: 100%;
  transition: all 0.5s;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
}

.div-nosotros:hover {
  border: 1px solid black;
  transform: scale(1.05);
  box-shadow: 10px 10px 20px #f18b42;
  transform: translateY(-4%);
}

.div-nosotros:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.imgEquipo{
  height: 250px;
  width: 100%;
  object-fit: cover;
}

#nuestroEquipo{
  font-family: 'Kalam', cursive;
  color: var(--colorSecundario);
}



@media all and (min-width: 992px) {
   .rotate-center:hover {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
  }

  @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}