:root {
  --colorPrincipal: #f16642;
  --colorSecundario: #f18b42;
  --colorTerciario: #f19842;
  --colorFondo: #2c3e50;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #B6B8B9;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h5 {
  font-family: 'Kalam', cursive;
  color: var(--colorSecundario);
}

nav {
  border-bottom: 2px solid var(--colorPrincipal);
}

.tituloPremium {
  font-family: 'Kalam', cursive;
}

.backgroundTerciario {
  background-color: var(--colorTerciario);
}

.hoverLinks:hover {
  color: var(--colorPrincipal);
  border-bottom: var(--colorSecundario);
}

.lineaHover {
  position: relative;
}

.lineaHover::before,
.lineaHover::after {
  content: "";
  border-bottom: 2px solid var(--colorPrincipal);
  position: absolute;
  opacity: 0;
  transition: 0.2s;
}

.lineaHover::before {
  bottom: 5px;
  width: 90%;
  right: 0;
}

.lineaHover::after {
  bottom: -1px;
  width: 60%;
  left: 0;
}

.lineaHover:hover::before {
  width: 70%;
  opacity: 1;
}

.lineaHover:hover::after {
  width: 40%;
  opacity: 1;
}

.logoWidth {
  width: 150px;
}

.colorPrincipal {
  color: var(--colorPrincipal);
}

.botonBusqueda:hover {
  color: white;
  border: var(--colorPrincipal) solid 1px;
  background-color: var(--colorSecundario);
}

.focusNaranja:checked {
  color: var(--colorPrincipal);
}

.footerBorder {
  border-top: 2px solid var(--colorPrincipal);
}

.terminosFuente {
  font-size: 10px;
}

.metodosPagos {
  width: 150px;
}

@media all and (min-width: 992px) {
   .rotate-center:hover {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
  }

  @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .heartbeat:hover {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
            animation: heartbeat 1.5s ease-in-out infinite both;
    cursor: pointer;
  }

  @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
}